.form {
    border-radius: 10px;
    background-color: darkgray;
    padding: 20px;
}

/* Style1 */

footer {

background: black;
position: absolute;
width: 100%;
height: 356px;
left: 20px;
top: 567px;

}


